<?php
/**
 * @var  EcomGems_SalesForecast_Block_Calendar $this
 */
$helper = Mage::helper('ecomgems_salesforecast');
$nextYearUrl = $this->getNexButtonUrl();
$previousYear = $this->getPreviousButtonUrl();
?>
<form name="test-form" id="customer_forecast" action="" method="post">
    <table  class="data-table">
        <thead>
        <tr>
            <th><?= $helper->__('Year'); ?></th>
            <th><?= $helper->__('Month'); ?></th>
            <th><?= $helper->__('Forecast Amount [EUR]'); ?></th>
        </tr>
        </thead>
        <?php foreach ($this->getCalendarItems() as $month => $item): ?>
            <tr>
                <td><?= $item['year'] ?></td>
                <td><?= $item['month'] ?></td>
                <td>
                    <?php if ($item['isEditable']): ?>
                        <input type="text" name="<?= $item['name'] ?>"
                               class="validate-digits forecast_amount" value="<?= $item['value'] ? (string)$item['value'] : '' ?>">
                    <?php else: ?>
                        <span class="forecast_amount"><?= $item['value'] ?
                                Mage::helper('core')->currency($item['value'], false, false) :
                                '' ?></span>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
    <div class="buttons">
        <div class="buttons-set">
            <p class="back-link">
        <?php if ($previousYear): ?>
            <a href="<?= $previousYear ?>"><?= $helper->__('Previous'); ?></a>
        <?php else: ?>
            <span class="disabled"><?= $helper->__('Previous'); ?></span>
        <?php endif; ?>

        <?php if ($nextYearUrl): ?>
            <a href="<?= $nextYearUrl ?>"><?= $helper->__('Next'); ?></a>
        <?php else: ?>
            <span class="disabled"><?= $helper->__('Next'); ?></span>
        <?php endif; ?>
            </p>
        <button  class="button" type="submit"><span><span><?= $helper->__('Save'); ?></span></span></button>
        </div>
    </div>


</form>

<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('customer_forecast');
    //]]>
</script>