<?php 
/**
 * EcomGems_SalesForecast extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       EcomGems
 * @package        EcomGems_SalesForecast
 * @copyright      Copyright (c) 2017
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Sales Forecast list template
 *
 * @category    EcomGems
 * @package     EcomGems_SalesForecast
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_salesforecasts = $this->getSalesforecasts(); ?>
<div class="page-title salesforecast-title">
    <?php if (Mage::helper('ecomgems_salesforecast/salesforecast')->isRssEnabled()) : ?>
        <a href="<?php echo Mage::helper('ecomgems_salesforecast/salesforecast')->getRssUrl();?>" class="link-rss"><?php echo Mage::helper('ecomgems_salesforecast')->__('Subscribe to RSS Feed')?></a>
    <?php endif;?>
    <h1><?php echo Mage::helper('ecomgems_salesforecast')->__('Sales Forecasts') ?></h1>
</div>
<?php if ($_salesforecasts->getSize() > 0) :?>
    <?php echo $this->getPagerHtml(); ?>
    <div class="salesforecast-list-container">
    <?php foreach ($_salesforecasts as $_salesforecast) : ?>
        <div class="salesforecast-list-item">
            <a href="<?php echo $_salesforecast->getSalesforecastUrl()?>">
                <?php echo $_salesforecast->getName();?>
            </a><br />
        </div>
    <?php endforeach;?>
    </div>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <?php echo Mage::helper('ecomgems_salesforecast')->__('There are no sales forecasts at this moment');?>
<?php endif;?>
