<?php
/**
 * EcomGems_SalesForecast extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       EcomGems
 * @package        EcomGems_SalesForecast
 * @copyright      Copyright (c) 2017
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Sales Forecast view template
 *
 * @category    EcomGems
 * @package     EcomGems_SalesForecast
 * @author      Ultimate Module Creator
 */
?>
<?php $_salesforecast = $this->getCurrentSalesforecast();?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title salesforecast-title">
    <h1><?php echo $_salesforecast->getName(); ?></h1>
</div>
<div class="salesforecast-view">
    <div class="salesforecast-name">
        <?php echo Mage::helper('ecomgems_salesforecast')->__('Name');?>:<?php echo $_salesforecast->getName();?>

    </div>
    <div class="salesforecast-value">
        <?php echo Mage::helper('ecomgems_salesforecast')->__('Value');?>:<?php echo $_salesforecast->getValue();?>

    </div>

</div>
