<?php
/**
 * EcomGems_SalesForecast extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       EcomGems
 * @package        EcomGems_SalesForecast
 * @copyright      Copyright (c) 2017
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * customer Sales Forecasts comments view
 * @category    EcomGems
 * @package     EcomGems_SalesForecast
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h1><?php echo $this->getComment()->getTitle() ?></h1>
</div>
<div class="comment-view">
    <h2>
        <a class="product-name" href="<?php echo $this->getSalesforecast()->getSalesforecastUrl()?>">
            <?php echo $this->getSalesforecast()->getName()?>
        </a>
    </h2>
    <div class="comment-date">
        <?php echo $this->__('On %s you wrote:', $this->formatDate($this->getComment()->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_FULL))?>
    </div>
    <div>
        <?php echo Mage::helper('core')->escapeHtml($this->getComment()->getComment());?>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>
</div>