<?php
/**
 * @var $this MageAssist_DiscountDisplay_Block_Discount
 */
?>

<?php if ($this->isDisplay()): ?>
        <div class="old-price-discount">
            <span style="color: #a0a0a0; text-decoration: line-through;" class="price"><?= Mage::app()->getLocale()->currency($this->getCurrencyCode())->toCurrency($this->getOldPrice()); ?></span>
        </div>
    <div><?= $this->getOffPercentages() ?>% OFF</div>
<?php endif; ?>

