<?php
/**
 * EcomGems_SalesForecast extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       EcomGems
 * @package        EcomGems_SalesForecast
 * @copyright      Copyright (c) 2017
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Sales Forecast view widget template
 *
 * @category    EcomGems
 * @package     EcomGems_SalesForecast
 * @author      Ultimate Module Creator
 */
?>
<?php $_salesforecast = $this->getCurrentSalesforecast();?>
<?php if ($_salesforecast) :?>
    <div class="salesforecast-widget-view">
        <h3><?php echo $_salesforecast->getName()?></h3>
        <div>
            <div class="name-widget">
                <?php echo Mage::helper('ecomgems_salesforecast')->__('Name');?>:<?php echo $_salesforecast->getName();?>
            </div>
            <div class="value-widget">
                <?php echo Mage::helper('ecomgems_salesforecast')->__('Value');?>:<?php echo $_salesforecast->getValue();?>
            </div>

        </div>
    </div>
<?php endif;?>
